databases:
  - name: postgres
    ipAllowList: []
    databaseName: recipe_render
    user: recipe_render

services:
  - type: web
    name: recipe_render
    env: ruby
    buildCommand: "./render-build.sh"
    startCommand: "bundle exec rails s"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: postgres
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false
    ipAllowList: []
    plan: free
    maxmemoryPolicy: noeviction