<section class="public">
    <h1>Public Recipes</h1>
    <ul>
        <% @public_recipes.includes([:recipe_foods]).each do |public_recipe| %>
        <li>
        <%= render partial: "public_recipe", locals: {recipe: public_recipe}%>
        </li>
        <% end %>
    </ul>
    
</section>